html, body {
  margin:0;
  height:100%;
  overflow:hidden;
}
body{
    color: white;
    background-image: linear-gradient(to bottom, #000066, #ff6600);
    background: #000000;
    margin-left: 17%;
    margin-right: 17%;
    font-family: Courier, Courier New;
}
/* gradient for background */ 
/* background for the entire thing */
.wrapper{
    /* blue to orange gradient */
    background-image: linear-gradient(to bottom, #000066, #ff6600);
    background-color: orange;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 91%;
}
/* header background */
/* where the segment name and the clock appear */
.header {
    /* orange to purple gradient */
    /*background-image: linear-gradient(to bottom, #ff6600, #442947);*/
    background-color: #000066; /* blue */
    height: 17%;
}
/* background for the main content */
.main {
  background-color: #0000cc; /*blue*/
  height: 81%;
  margin-left: 12%;
  margin-right: 12%;
  border-style: inset;
  border-width: 8px;
  border-color: #6666ff;
  padding: 2%; 
}
.footer {
  background-color: #0000cc; 
   position:absolute;
   bottom:0;
   width:66%;
   height:12%;  
  border-top-style: groove;
  border-width: 3px;
  border-color: #b3b3ff;
}
.clock {
  text-align: right;
  margin-top: 7%;
  margin-right: 28%;
  font-family: Helvetica;
  font-stretch: expanded;
  font-size: 1vw;
  text-shadow: 2px 2px #000000;
}
.segment {
  margin-left: 66%;
  text-align: justify; 
  font-size: 1.7vw;
  font-weight: bold;
  color: yellow;
  text-shadow: 2px 2px #000000;
}


/*type face styles*/
h1 {
  color: white;
  text-shadow: 2px 2px #000000;
}
.newfont {
  text-align: justify; 
  margin-left: 1.5em;
  font-size: 2vw;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px #000000;
}
.newfontyellow {
  text-align: justify; 
  font-size: 2vw;
  font-weight: bold;
  color: yellow;
  text-shadow: 2px 2px #000000;
}
.temp {
  text-align: center; 
  font-size: 5vw;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px #000000;
}
.cond {
  text-align: center; 
  font-size: 3vw;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px #000000;
}
.wind {
  text-align: justify; 
  font-size: 2vw;
  font-weight: bold;
  color: white;
  text-shadow: 3px 3px #000000;
}


.column {    
    float: left;
    width: 50%;   
}
.row::after {
    content: '';
    display: table;
    clear: both;
}
